.content {
    padding:20px;
}

#homeBody{
    display:grid;
    margin: 1vw;
    grid-template-columns:1.5fr 1fr;
    width:auto;
    height: 80%;
}
.homeSearch{
    display:flex;
    padding: 1vw 0;
    /*grid-template-columns:1fr 3fr 1fr;*/
    width:50%;
    /*grid-column: 1/3;*/
    height:32px;
    gap:1vw;
}

.Btn{
    min-width:80px;
    max-width: 100px;
    &::after{
        content:'조회';
    }
}
.dashBoard{
    height:30%;
    &>table{
        width:100%;
        border-collapse:collapse;
        th{
            padding:0.5vw;
            border:1px solid black;
            font-size:0.9vw;

        }
        td{
            padding:0.5vw;
            border:1px solid black;
            font-size:0.8vw;
            &:nth-child(n+2){
                text-align:right;
            }
        }
    }
}
.summary_text_center{
    color: #55423d;
    text-align:center;
    font-weight:bold;
}
.summary_text_left{
    color: #55423d;
    font-weight:bold;
}
.summary_text_right{
    text-align:right;
    font-weight:bold;
}
.palete{
    padding:0.6vw;
    border-radius:0.5vw;
    background-color:white;
}
@media (max-width: 1199px) and (min-width:745px){
    .homeSearch{
        /*display:grid;*/
        /*padding: 1vw 0;*/
        /*grid-template-columns:1fr 3fr 1fr;*/
        min-width:80%;
        /*grid-column: 1/3;*/
        /*height:32px;*/
        /*gap:1vw;*/
    }
}
@media (max-width: 744px) {
    .Btn{
        min-width:30px;
        display:flex;
        justify-content: end;
        align-items: center;
        &::after{
            content:'';
        }
    }
    .homeSearch{
        /*display:grid;*/
        /*padding: 1vw 0;*/
        /*grid-template-columns:1fr 3fr 1fr;*/
        min-width:90%;
        /*grid-column: 1/3;*/
        /*height:32px;*/
        /*gap:1vw;*/
    }
    .dashBoard{

        &>table{
            width:100%;
            border-collapse:collapse;
            th,td{
                font-size:0.8rem;
                padding:0.5rem;
                border:1px solid black;
            }
        }
    }
}

@media (max-width: 1199px) {
    .dashBoard{
        grid-column:1/3;
        &:nth-child(3){
            height:40vw;
        }
        &>table{
            width:100%;
            border-collapse:collapse;

            th,td{
                padding:0.5rem;
                border:1px solid black;
                font-size:2vw;
            }
        }
    }
}


@media (max-width: 620px) {
    .dashBoard{
        &>table{
            th,td{
                padding:0.1rem;
                font-size:2vw;
            }
        }
    }

}
